body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background:#FBF6E9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #f8f2f2;
}

.input-group img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    background: transparent;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

body{
    background-color:color-mix(in srgb, #c70d0d 50%, #f6f209 50%)
}
h1 {
    color: #080707;
    padding-bottom: 20px;
    font-family: "Audiowide", sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #FBF6E9; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FBF6E9 }
  }